#home-page{ 
    ion-header ion-toolbar{
        --background: white;
    }
    ion-title{
        --color: rgb(2, 19, 7);
        font-size: large;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

}