#login-page {

    ion-header ion-toolbar {
        --background: white;
        ion-icon{
            color:rgb(2, 19, 7);
            margin-left: 10px;
        }
        ion-title{
            color: rgb(2, 19, 7);
        }
    }

}