@{
    ViewLayout = "Layout";
}


<p class="main-body__title">Recupera tu cuenta</p>
<p class="main-body__text">Hemos enviado un correo electrónico a la dirección que nos has facilitado.<br /> Revisa tu bandeja de entrada y haz <b>click en el enlace</b> que te hemos enviado.</p>
<p id="details" class="main-body__paragraph">¿No has recibido el correo? Comprueba tu bandeja de SPAM o correo no deseado.<br /> Si sigues sin recibirlo, pulsa <a asp-route-area="KeTePongo.UsersWebAPI" asp-controller="ResetPassword" asp-action="ForgotPassword"><b>aquí.</b></a></p>

