@model KeTePongo.UsersWebAPI.ViewModels.ForgotPasswordViewModel

@{
    ViewLayout = "Layout";
}

    <form asp-controller="ResetPassword" asp-action="ForgotPassword" method="post" class="form-horizontal">
        <p class="main-body__title">Recupera tu cuenta</p>
        <p class="main-body__text">Enviaremos un correo electrónico a la siguiente dirección:</p>

        <div class="input-box">
            <input asp-for="EmailOrUsername" class="main-body__placeholder" type="email" placeholder="introduce tu correo electrónico" value="" />
        </div>

        <button type="submit" class="main-body__button">Enviar</button>
    </form>