@model KeTePongo.UsersWebAPI.ViewModels.ResetPasswordViewModel

@{
    ViewLayout = "Layout";
}
    <form asp-controller="ResetPassword" asp-action="ResetPassword" method="post" class="form-horizontal" name="vform">

        <p class="main-body__title">@T["Recupera tu cuenta"]</p>
        <p class="main-body__text">@T["Introduce tu email y tu nueva contraseña"]</p>
        <div asp-validation-summary="ModelOnly" class="main-body__text-danger" id="text-danger-summary"></div>
        <div class="input-box">
            <input asp-for="Email" class="main-body__placeholder" placeholder="email" value="" />
            <span asp-validation-for="Email" class="main-body__text-danger"></span>
        </div>
        <div class="input-box">
            <input asp-for="Password" class="main-body__placeholder" type="password" placeholder="nueva contraseña" />
            <span toggle="pass-field" class="main-body__toggle" onclick="showPassword()">
                <img id="hide1" src="~/KeTePongo.Theme/img/eye-off.png" />
                <img id="hide2" src="~/KeTePongo.Theme/img/eye-on.png" />
            </span>
            <span asp-validation-for="Password" class="main-body__text-danger"></span>
        </div>
        <div class="input-box">
            <input asp-for="PasswordConfirmation" class="main-body__placeholder" type="password" placeholder="repite nueva contraseña" value="" />
            <span toggle="pass-field" class="main-body__toggle" onclick="showPasswordConfirmation()">
                <img id="hide3" src="~/KeTePongo.Theme/img/eye-off.png" />
                <img id="hide4" src="~/KeTePongo.Theme/img/eye-on.png" />
            </span>
            <span asp-validation-for="PasswordConfirmation" class="main-body__text-danger"></span>
            @await RenderSectionAsync("AfterResetPassword", required: false)
        </div>

        <div>
            <p class="main-body__detailtext">@T["The password must contain at least 8 characters, one lowercase letter, one uppercase letter, one number and one special character or symbol."]</p>
        </div>

        <input asp-for="ResetToken" type="hidden" />
        <button type="submit" class="main-body__button">@T["Change Password"]</button>

    </form>
    <script asp-name="RestorePass"></script>
