@using KeTePongo.Core.AppServices;
@using KeTePongo.ConsumerWebAPI.ViewModels
@model ConsumerUserConfirmInvitationEmailViewModel
    <html lang="es">
    @await Html.PartialAsync("./Shared/_Header.cshtml")

    <body>
        <div class="wrapper">
            <header class="header">
                <table class="header__content">
                    <thead>
                        <tr class="logo">
                            <th>
                                <img class="logo__image"
                                     src=@Constants.CommonImagesFolder +"ktp_logo_whitemdpi.png"
                                     alt="Ketepongo-logo">
                            </th>
                        </tr>
                    </thead>
                </table>
            </header>
            <section class="content">
                <div class="message-main">

                    <h3 class="message-main__title">¡ Hola @Model.ConsumerInvitation.Email !<br />Accede a tu cuenta Ketepongo, por favor haga click en el enlace para completar el registro</h3>
                    <a href=@Model.ConfirmationUrl>@T["HAGA CLICK AQUÍ"]</a>
                </div>
                <footer class="ending">

                    <div class="ketepongo-ad">
                        <img class="ketepongo-ad__logo"
                             src="http://www.ketepongo.com/ktp_media/Logo/ktp_T/Square/ktp_app_logo_black3@200px.png" alt="">
                        <div class="ketepongo-ad__info">
                            <h3 class="ketepongo-ad__title">Equipo @Constants.KeTePonGoAppName</h3>
                            <p class="ketepongo-ad__main">La aplicación gratuita para la gestión de tus pedidos de reposición</p>
                        </div>
                    </div>
                    <div class="message-end">
                        <span class="message-end__main">
                            Nos importa tu opinión. <br> Por favor, haznos saber cualquier sugerencia para
                            que
                            la
                            aplicación se adapte a tus necesidades. <br>
                        </span>
                        <span class="message-end__goodbye">Gracias</span>
                    </div>
                    <div class="rgpd">
                        <h3 class="rgpd__title">Política de privacidad</h3>
                        <div class="rgpd__company-info">
                            <h3 class="rgpd__company-name">Pccom</h3>
                            <p class="rgpd__address">C/ Rafael Altamira, 2, 1º 03002 Alicante</p>
                            <a class="rgpd__mail"
                               href="mailto:departamento.administracion@pccom.es">departamento.administracion@pccom.es</a>
                        </div>
                        <p class="rgpd__main">
                            Este mensaje va dirigido, de manera exclusiva, a su destinatario y puede contener
                            información confidencial y sujeta al secreto profesional, cuya divulgación no está permitida por Ley. En
                            caso de haber recibido este mensaje por error, le rogamos que de forma inmediata, nos lo comunique mediante
                            correo electrónico remitido a nuestra atención y proceda a su eliminación, así como a la de cualquier
                            documento adjunto al mismo. Asimismo, le comunicamos que la distribución, copia o utilización de este
                            mensaje, o de cualquier documento adjunto al mismo, cualquiera que fuera su finalidad, están prohibidas por
                            la ley. En aras del cumplimiento del Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de
                            abril de 2016, puede ejercer los derechos de acceso, rectificación, cancelación, limitación, oposición y
                            portabilidad de manera gratuita mediante correo electrónico a: departamento.administracion@pccom.es o bien
                            en la dirección: C/Rafael Altamira, 2, 1º, 03002 Alicante.
                        </p>
                    </div>
                </footer>
            </section>
        </div>
    </body>

</html>