@model KeTePongo.UsersWebAPI.Abstractions.DTOs.v0_1.OpenIdAppProviderDTO
@{
    ViewData["Title"] = T["Edit Client Apps (Provider)"];
}

    <h4>@T["Client Apps (Provider)"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <input asp-for="ClientId" readonly class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderOID" class="control-label"></label>
                <input asp-for="ProviderOID" class="form-control" />
                <span asp-validation-for="ProviderOID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@T["Back to openId apps list"]</a>
</div>
