<table class="body-main__warning">
    <tr>
        <td><img class="warningIcon" src="https://www.pccom.es/cms/wp-content/uploads/2020/09/warning.png" alt="warning" border="0" /></td>
        <td><img class="ktp_warningIcon" src="https://www.pccom.es/cms/wp-content/uploads/2020/09/Group-132.png" alt="logo ketepongo" border="0" /></td>
        <td>
            <p class="warning_title">@T["Is not your ERP linked to Ketepongo yet?"]</p>
            <p class="warning_text">@T["Don't doubt it. It's the easiest way to receive your orders with your exact reference and description and also the comments from your clients..."]</p>
        </td>
    </tr>
</table>