<table class="body-main__warning">
    <tr>
        <td><img class="warningIcon" src="https://www.pccom.es/cms/wp-content/uploads/2020/09/warning.png" alt="warning" border="0" /></td>
        <td><img class="ktp_warningIcon" src="https://www.pccom.es/cms/wp-content/uploads/2020/09/Group-132.png" alt="logo ketepongo" border="0" /></td>
        <td>
            <p class="warning_title">@T["Don't you have Ketepongo app yet?"]</p>
            <p class="warning_text">@T["Download it and get notifications everytime you receive a new order. Your clients two clicks away"]</p>
        </td>
    </tr>
</table>