<footer>
    <table class="footer1" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td class="footer1__twitter">
                <a href="http://www.twitter.com/">
                    <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/twitter.png" alt="twitter" border="0" />
                </a>
            </td>
            <td class="footer1__youtube">
                <a href="http://www.youtube.com/">
                    <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/youtube.png" alt="youtube" border="0" />
                </a>
            </td>
            <td class="footer1__facebook">
                <a href="http://www.facebook.com/">
                    <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/facebook.png" alt="facebook" border="0" />
                </a>
            </td>
            <td class="footer1__instagram">
                <a href="http://www.facebook.com/">
                    <img class="footer1__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/instagram.png" alt="instagram" border="0" />
                </a>
            </td>
            <td class="footer1__image">
                <img class="footer1__logo" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/ketepongologo.png" alt="ketepongo" border="0" />
            </td>
        </tr>
    </table>
    <table class="footer2" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <img class="footer2__icon" src="https://www.pccom.es/cms/wp-content/uploads/2020/05/emailicon.png" alt="contacto" border="0" />
            </td>
            <td class="footer2__content">
                <p class="footer2__contact">@T["Contact"]</p>
                <a>
                    <p class="footer2__email">app@ketepongo.com</p>
                </a>
            </td>
        </tr>
    </table>
    <table class="footer3" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <p class="footer3__text">@T["Your data are registered in a digital file property of Kefonet Software S.L. ..."]</b></p>
                <p class="footer3__text">@T["Copyright 2020 KeTePongo, Reseverd all the rights."]</p>
            </td>
        </tr>

    </table>
</footer>