@using KeTePongo.Core.AppServices;
@using System.Linq

@{
    ViewLayout = "Blank";
}


<!DOCTYPE html>

<html lang="@Orchard.CultureName()" xmlns="http://www.w3.org/1999/xhtml" style="height: 100%;">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta charset="utf-8" />
    <title>KeTePongo</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>
<body style="height: 100%;background-image: url(https://app.ketepongo.com/KeTePongo.Theme/img/background-ketepongo1.png);background-size: cover;">
    <div id="root" style="display: flex;height: 100%;max-width: 768px;margin: 0 auto;">

    </div>
    <script asp-name="ConsumerWebApp"></script>
    <script type="text/javascript">
        KeTePongoConsumer.renderApp("@Html.Raw(Model.ConsumerId)");
    </script>


    @Html.Partial("../Partials/Cookies.cshtml")

</body>

</html>

